// Add personal reset font-size. 1rem = 10px.
html {
}

body {
    padding: 0;
    margin: 0;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: unset;
    color: unset;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
    display: block;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}


